In [1]:
import sys,os,re
import pandas as pd
Delimiter = '\t'

### reformat CHH file to generate a heatmap

In [5]:
InFileName1 = "/blue/soltis/shan158538/Methylation/OutPut/DMR_heatmap/CHH/Filtered_sorted_all.txt"

In [6]:
InFile1 = pd.read_csv(InFileName1, header=None, sep=Delimiter, names = ['chr', 'pos', 'diff_diploids', 'diff_subgenomes'])

In [7]:
InFile1

                          chr     pos  diff_diploids  diff_subgenomes
0       Tdub_V1_scaffold_2456  124501      83.099921        80.743833
1         Tdub_V1_scaffold_11   74101      71.908355        55.888668
2       Tdub_V1_scaffold_1230   72601      68.665897        70.816717
3      Tdub_V1_scaffold_10128   18001      68.464547        64.306837
4       Tdub_V1_scaffold_8682   13801      68.228869        32.565611
...                       ...     ...            ...              ...
24997   Tdub_V1_scaffold_9485   77701     -27.510938        14.131837
24998   Tdub_V1_scaffold_6392   25501     -30.573780        34.673086
24999   Tdub_V1_scaffold_1433       1     -33.059291        49.088166
25000  Tdub_V1_scaffold_10397   82201     -34.223802        14.210903
25001  Tdub_V1_scaffold_10397   82801     -38.037255        12.170963

[25002 rows x 4 columns]

In [8]:
InFile1['chr_pos'] = InFile1['chr'] + '_' + InFile1['pos'].astype(str)

In [9]:
InFile1

,chr,pos,diff_diploids,diff_subgenomes,chr_pos
0,Tdub_V1_scaffold_2456,124501,83.099921,80.743833,Tdub_V1_scaffold_2456_124501
1,Tdub_V1_scaffold_11,74101,71.908355,55.888668,Tdub_V1_scaffold_11_74101
2,Tdub_V1_scaffold_1230,72601,68.665897,70.816717,Tdub_V1_scaffold_1230_72601
3,Tdub_V1_scaffold_10128,18001,68.464547,64.306837,Tdub_V1_scaffold_10128_18001
4,Tdub_V1_scaffold_8682,13801,68.228869,32.565611,Tdub_V1_scaffold_8682_13801
...,...,...,...,...,...
24997,Tdub_V1_scaffold_9485,77701,-27.510938,14.131837,Tdub_V1_scaffold_9485_77701
24998,Tdub_V1_scaffold_6392,25501,-30.573780,34.673086,Tdub_V1_scaffold_6392_25501
24999,Tdub_V1_scaffold_1433,1,-33.059291,49.088166,Tdub_V1_scaffold_1433_1
25000,Tdub_V1_scaffold_10397,82201,-34.223802,14.210903,Tdub_V1_scaffold_10397_82201
25001,Tdub_V1_scaffold_10397,82801,-38.037255,12.170963,Tdub_V1_scaffold_10397_82801

In [10]:
columns_to_keep = ['chr_pos', 'diff_diploids']
InFile1_subset_1 = InFile1[columns_to_keep]

In [11]:
# add a new column and specify the cotent
content = 'Tdu_vs_Tpr'
InFile1_subset_1['comparison'] = content

/orange/soltis/shan158538/methylpy_temp/ipykernel_78422/1624609156.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  InFile1_subset_1['comparison'] = content

In [12]:
InFile1_subset_1 = InFile1_subset_1[['chr_pos', 'comparison', 'diff_diploids']]

In [13]:
InFile1_subset_1 = InFile1_subset_1.rename(columns={'diff_diploids': 'diff'})

In [14]:
InFile1_subset_1

                            chr_pos  comparison       diff
0      Tdub_V1_scaffold_2456_124501  Tdu_vs_Tpr  83.099921
1         Tdub_V1_scaffold_11_74101  Tdu_vs_Tpr  71.908355
2       Tdub_V1_scaffold_1230_72601  Tdu_vs_Tpr  68.665897
3      Tdub_V1_scaffold_10128_18001  Tdu_vs_Tpr  68.464547
4       Tdub_V1_scaffold_8682_13801  Tdu_vs_Tpr  68.228869
...                             ...         ...        ...
24997   Tdub_V1_scaffold_9485_77701  Tdu_vs_Tpr -27.510938
24998   Tdub_V1_scaffold_6392_25501  Tdu_vs_Tpr -30.573780
24999       Tdub_V1_scaffold_1433_1  Tdu_vs_Tpr -33.059291
25000  Tdub_V1_scaffold_10397_82201  Tdu_vs_Tpr -34.223802
25001  Tdub_V1_scaffold_10397_82801  Tdu_vs_Tpr -38.037255

[25002 rows x 3 columns]

In [15]:
InFile1_subset_2 = InFile1[['chr_pos', 'diff_subgenomes']]
InFile1_subset_2['comparison'] = 'Tms-du_vs_Tms-pr'
InFile1_subset_2 = InFile1_subset_2[['chr_pos', 'comparison', 'diff_subgenomes']]
InFile1_subset_2 = InFile1_subset_2.rename(columns={'diff_subgenomes': 'diff'})

/orange/soltis/shan158538/methylpy_temp/ipykernel_78422/1068059616.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  InFile1_subset_2['comparison'] = 'Tms-du_vs_Tms-pr'

In [16]:
InFile1_subset_2

                            chr_pos        comparison       diff
0      Tdub_V1_scaffold_2456_124501  Tms-du_vs_Tms-pr  80.743833
1         Tdub_V1_scaffold_11_74101  Tms-du_vs_Tms-pr  55.888668
2       Tdub_V1_scaffold_1230_72601  Tms-du_vs_Tms-pr  70.816717
3      Tdub_V1_scaffold_10128_18001  Tms-du_vs_Tms-pr  64.306837
4       Tdub_V1_scaffold_8682_13801  Tms-du_vs_Tms-pr  32.565611
...                             ...               ...        ...
24997   Tdub_V1_scaffold_9485_77701  Tms-du_vs_Tms-pr  14.131837
24998   Tdub_V1_scaffold_6392_25501  Tms-du_vs_Tms-pr  34.673086
24999       Tdub_V1_scaffold_1433_1  Tms-du_vs_Tms-pr  49.088166
25000  Tdub_V1_scaffold_10397_82201  Tms-du_vs_Tms-pr  14.210903
25001  Tdub_V1_scaffold_10397_82801  Tms-du_vs_Tms-pr  12.170963

[25002 rows x 3 columns]

In [17]:
concat = pd.concat([InFile1_subset_1, InFile1_subset_2], axis = 0)

In [18]:
concat

                            chr_pos        comparison       diff
0      Tdub_V1_scaffold_2456_124501        Tdu_vs_Tpr  83.099921
1         Tdub_V1_scaffold_11_74101        Tdu_vs_Tpr  71.908355
2       Tdub_V1_scaffold_1230_72601        Tdu_vs_Tpr  68.665897
3      Tdub_V1_scaffold_10128_18001        Tdu_vs_Tpr  68.464547
4       Tdub_V1_scaffold_8682_13801        Tdu_vs_Tpr  68.228869
...                             ...               ...        ...
24997   Tdub_V1_scaffold_9485_77701  Tms-du_vs_Tms-pr  14.131837
24998   Tdub_V1_scaffold_6392_25501  Tms-du_vs_Tms-pr  34.673086
24999       Tdub_V1_scaffold_1433_1  Tms-du_vs_Tms-pr  49.088166
25000  Tdub_V1_scaffold_10397_82201  Tms-du_vs_Tms-pr  14.210903
25001  Tdub_V1_scaffold_10397_82801  Tms-du_vs_Tms-pr  12.170963

[50004 rows x 3 columns]

In [19]:
concat.to_csv("/blue/soltis/shan158538/Methylation/OutPut/DMR_heatmap/CHH/Filtered_sorted_all_reformatted.txt", sep=Delimiter, header=True, index=False)