In [1]:
import sys,os,re
import pandas as pd
Delimiter = '\t'

### reformat CHG file to generate a heatmap

In [2]:
InFileName1 = "/blue/soltis/shan158538/Methylation/OutPut/DMR_heatmap/CHG_new/Filtered_sorted_all.txt"

In [3]:
InFile1 = pd.read_csv(InFileName1, header=None, sep=Delimiter, names = ['chr', 'pos', 'diff_diploids', 'diff_subgenomes'])

In [4]:
InFile1

                         chr     pos  diff_diploids  diff_subgenomes
0      Tdub_V1_scaffold_8602   39601      98.912211        92.361111
1      Tdub_V1_scaffold_1665   27901      98.225602        95.733809
2      Tdub_V1_scaffold_5961   18301      97.935103        40.759401
3       Tdub_V1_scaffold_113  167101      97.833935        98.421053
4      Tdub_V1_scaffold_2495  230701      97.330961        95.925926
...                      ...     ...            ...              ...
5928   Tdub_V1_scaffold_3829   21901     -42.710969        25.804630
5929  Tdub_V1_scaffold_10714   17101     -43.339430        49.245076
5930   Tdub_V1_scaffold_8678   72301     -62.790698        31.025739
5931  Tdub_V1_scaffold_11802  103501     -71.700545        26.271530
5932   Tdub_V1_scaffold_1664   16501     -74.519054        32.694429

[5933 rows x 4 columns]

In [5]:
InFile1['chr_pos'] = InFile1['chr'] + '_' + InFile1['pos'].astype(str)

In [6]:
InFile1

,chr,pos,diff_diploids,diff_subgenomes,chr_pos
0,Tdub_V1_scaffold_8602,39601,98.912211,92.361111,Tdub_V1_scaffold_8602_39601
1,Tdub_V1_scaffold_1665,27901,98.225602,95.733809,Tdub_V1_scaffold_1665_27901
2,Tdub_V1_scaffold_5961,18301,97.935103,40.759401,Tdub_V1_scaffold_5961_18301
3,Tdub_V1_scaffold_113,167101,97.833935,98.421053,Tdub_V1_scaffold_113_167101
4,Tdub_V1_scaffold_2495,230701,97.330961,95.925926,Tdub_V1_scaffold_2495_230701
...,...,...,...,...,...
5928,Tdub_V1_scaffold_3829,21901,-42.710969,25.804630,Tdub_V1_scaffold_3829_21901
5929,Tdub_V1_scaffold_10714,17101,-43.339430,49.245076,Tdub_V1_scaffold_10714_17101
5930,Tdub_V1_scaffold_8678,72301,-62.790698,31.025739,Tdub_V1_scaffold_8678_72301
5931,Tdub_V1_scaffold_11802,103501,-71.700545,26.271530,Tdub_V1_scaffold_11802_103501
5932,Tdub_V1_scaffold_1664,16501,-74.519054,32.694429,Tdub_V1_scaffold_1664_16501

In [7]:
columns_to_keep = ['chr_pos', 'diff_diploids']
InFile1_subset_1 = InFile1[columns_to_keep]

In [8]:
# add a new column and specify the cotent
content = 'Tdu_vs_Tpr'
InFile1_subset_1['comparison'] = content

/orange/soltis/shan158538/methylpy_temp/ipykernel_106270/1624609156.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  InFile1_subset_1['comparison'] = content

In [9]:
InFile1_subset_1 = InFile1_subset_1[['chr_pos', 'comparison', 'diff_diploids']]

In [10]:
InFile1_subset_1 = InFile1_subset_1.rename(columns={'diff_diploids': 'diff'})

In [11]:
InFile1_subset_1

                            chr_pos  comparison       diff
0       Tdub_V1_scaffold_8602_39601  Tdu_vs_Tpr  98.912211
1       Tdub_V1_scaffold_1665_27901  Tdu_vs_Tpr  98.225602
2       Tdub_V1_scaffold_5961_18301  Tdu_vs_Tpr  97.935103
3       Tdub_V1_scaffold_113_167101  Tdu_vs_Tpr  97.833935
4      Tdub_V1_scaffold_2495_230701  Tdu_vs_Tpr  97.330961
...                             ...         ...        ...
5928    Tdub_V1_scaffold_3829_21901  Tdu_vs_Tpr -42.710969
5929   Tdub_V1_scaffold_10714_17101  Tdu_vs_Tpr -43.339430
5930    Tdub_V1_scaffold_8678_72301  Tdu_vs_Tpr -62.790698
5931  Tdub_V1_scaffold_11802_103501  Tdu_vs_Tpr -71.700545
5932    Tdub_V1_scaffold_1664_16501  Tdu_vs_Tpr -74.519054

[5933 rows x 3 columns]

In [12]:
InFile1_subset_2 = InFile1[['chr_pos', 'diff_subgenomes']]
InFile1_subset_2['comparison'] = 'Tms-du_vs_Tms-pr'
InFile1_subset_2 = InFile1_subset_2[['chr_pos', 'comparison', 'diff_subgenomes']]
InFile1_subset_2 = InFile1_subset_2.rename(columns={'diff_subgenomes': 'diff'})

/orange/soltis/shan158538/methylpy_temp/ipykernel_106270/1068059616.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  InFile1_subset_2['comparison'] = 'Tms-du_vs_Tms-pr'

In [13]:
InFile1_subset_2

                            chr_pos        comparison       diff
0       Tdub_V1_scaffold_8602_39601  Tms-du_vs_Tms-pr  92.361111
1       Tdub_V1_scaffold_1665_27901  Tms-du_vs_Tms-pr  95.733809
2       Tdub_V1_scaffold_5961_18301  Tms-du_vs_Tms-pr  40.759401
3       Tdub_V1_scaffold_113_167101  Tms-du_vs_Tms-pr  98.421053
4      Tdub_V1_scaffold_2495_230701  Tms-du_vs_Tms-pr  95.925926
...                             ...               ...        ...
5928    Tdub_V1_scaffold_3829_21901  Tms-du_vs_Tms-pr  25.804630
5929   Tdub_V1_scaffold_10714_17101  Tms-du_vs_Tms-pr  49.245076
5930    Tdub_V1_scaffold_8678_72301  Tms-du_vs_Tms-pr  31.025739
5931  Tdub_V1_scaffold_11802_103501  Tms-du_vs_Tms-pr  26.271530
5932    Tdub_V1_scaffold_1664_16501  Tms-du_vs_Tms-pr  32.694429

[5933 rows x 3 columns]

In [14]:
concat = pd.concat([InFile1_subset_1, InFile1_subset_2], axis = 0)

In [15]:
concat

                            chr_pos        comparison       diff
0       Tdub_V1_scaffold_8602_39601        Tdu_vs_Tpr  98.912211
1       Tdub_V1_scaffold_1665_27901        Tdu_vs_Tpr  98.225602
2       Tdub_V1_scaffold_5961_18301        Tdu_vs_Tpr  97.935103
3       Tdub_V1_scaffold_113_167101        Tdu_vs_Tpr  97.833935
4      Tdub_V1_scaffold_2495_230701        Tdu_vs_Tpr  97.330961
...                             ...               ...        ...
5928    Tdub_V1_scaffold_3829_21901  Tms-du_vs_Tms-pr  25.804630
5929   Tdub_V1_scaffold_10714_17101  Tms-du_vs_Tms-pr  49.245076
5930    Tdub_V1_scaffold_8678_72301  Tms-du_vs_Tms-pr  31.025739
5931  Tdub_V1_scaffold_11802_103501  Tms-du_vs_Tms-pr  26.271530
5932    Tdub_V1_scaffold_1664_16501  Tms-du_vs_Tms-pr  32.694429

[11866 rows x 3 columns]

In [16]:
concat.to_csv("/blue/soltis/shan158538/Methylation/OutPut/DMR_heatmap/CHG_new/Filtered_sorted_all_reformatted.txt", sep=Delimiter, header=True, index=False)