In [1]:
import sys,os,re
import pandas as pd
Delimiter = '\t'

### reformat file to generate a heatmap

In [2]:
InFileName1 = "/blue/soltis/shan158538/Methylation/OutPut/DMR_heatmap/Filtered_sorted_all.txt"

In [3]:
InFile1 = pd.read_csv(InFileName1, header=None, sep=Delimiter, names = ['chr', 'pos', 'diff_diploids', 'diff_subgenomes'])

In [4]:
InFile1

                         chr     pos  diff_diploids  diff_subgenomes
0      Tdub_V1_scaffold_6978   23401      99.040767        94.636015
1     Tdub_V1_scaffold_12154     601      98.930481        95.967742
2     Tdub_V1_scaffold_10131   15901      98.697068        95.947036
3      Tdub_V1_scaffold_1521    2401      98.688525        96.078089
4      Tdub_V1_scaffold_9538   52501      98.583569        69.836150
...                      ...     ...            ...              ...
4446   Tdub_V1_scaffold_2232   18001      35.382304       -39.247151
4447  Tdub_V1_scaffold_11900  100201     -35.603715        38.853732
4448   Tdub_V1_scaffold_9765   78001     -36.624180        57.690396
4449    Tdub_V1_scaffold_200   33601     -47.097849        43.635332
4450  Tdub_V1_scaffold_12142   31201     -63.408832        35.187180

[4451 rows x 4 columns]

In [5]:
InFile1['chr_pos'] = InFile1['chr'] + '_' + InFile1['pos'].astype(str)

In [8]:
InFile1

,chr,pos,diff_diploids,diff_subgenomes,chr_pos
0,Tdub_V1_scaffold_6978,23401,99.040767,94.636015,Tdub_V1_scaffold_6978_23401
1,Tdub_V1_scaffold_12154,601,98.930481,95.967742,Tdub_V1_scaffold_12154_601
2,Tdub_V1_scaffold_10131,15901,98.697068,95.947036,Tdub_V1_scaffold_10131_15901
3,Tdub_V1_scaffold_1521,2401,98.688525,96.078089,Tdub_V1_scaffold_1521_2401
4,Tdub_V1_scaffold_9538,52501,98.583569,69.836150,Tdub_V1_scaffold_9538_52501
...,...,...,...,...,...
4446,Tdub_V1_scaffold_2232,18001,35.382304,-39.247151,Tdub_V1_scaffold_2232_18001
4447,Tdub_V1_scaffold_11900,100201,-35.603715,38.853732,Tdub_V1_scaffold_11900_100201
4448,Tdub_V1_scaffold_9765,78001,-36.624180,57.690396,Tdub_V1_scaffold_9765_78001
4449,Tdub_V1_scaffold_200,33601,-47.097849,43.635332,Tdub_V1_scaffold_200_33601
4450,Tdub_V1_scaffold_12142,31201,-63.408832,35.187180,Tdub_V1_scaffold_12142_31201

In [13]:
columns_to_keep = ['chr_pos', 'diff_diploids']
InFile1_subset_1 = InFile1[columns_to_keep]

In [15]:
content = 'Tdu_vs_Tpr'
InFile1_subset_1['comparison'] = content

/orange/soltis/shan158538/methylpy_temp/ipykernel_113430/2445439832.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  InFile1_subset_1['comparison'] = content

In [17]:
InFile1_subset_1 = InFile1_subset_1[['chr_pos', 'comparison', 'diff_diploids']]

In [25]:
InFile1_subset_1 = InFile1_subset_1.rename(columns={'diff_diploids': 'diff'})

In [26]:
InFile1_subset_1

                            chr_pos  comparison       diff
0       Tdub_V1_scaffold_6978_23401  Tdu_vs_Tpr  99.040767
1        Tdub_V1_scaffold_12154_601  Tdu_vs_Tpr  98.930481
2      Tdub_V1_scaffold_10131_15901  Tdu_vs_Tpr  98.697068
3        Tdub_V1_scaffold_1521_2401  Tdu_vs_Tpr  98.688525
4       Tdub_V1_scaffold_9538_52501  Tdu_vs_Tpr  98.583569
...                             ...         ...        ...
4446    Tdub_V1_scaffold_2232_18001  Tdu_vs_Tpr  35.382304
4447  Tdub_V1_scaffold_11900_100201  Tdu_vs_Tpr -35.603715
4448    Tdub_V1_scaffold_9765_78001  Tdu_vs_Tpr -36.624180
4449     Tdub_V1_scaffold_200_33601  Tdu_vs_Tpr -47.097849
4450   Tdub_V1_scaffold_12142_31201  Tdu_vs_Tpr -63.408832

[4451 rows x 3 columns]

In [23]:
InFile1_subset_2 = InFile1[['chr_pos', 'diff_subgenomes']]
InFile1_subset_2['comparison'] = 'Tms-du_vs_Tms-pr'
InFile1_subset_2 = InFile1_subset_2[['chr_pos', 'comparison', 'diff_subgenomes']]
InFile1_subset_2 = InFile1_subset_2.rename(columns={'diff_subgenomes': 'diff'})

/orange/soltis/shan158538/methylpy_temp/ipykernel_113430/1068059616.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  InFile1_subset_2['comparison'] = 'Tms-du_vs_Tms-pr'

In [24]:
InFile1_subset_2

                            chr_pos        comparison       diff
0       Tdub_V1_scaffold_6978_23401  Tms-du_vs_Tms-pr  94.636015
1        Tdub_V1_scaffold_12154_601  Tms-du_vs_Tms-pr  95.967742
2      Tdub_V1_scaffold_10131_15901  Tms-du_vs_Tms-pr  95.947036
3        Tdub_V1_scaffold_1521_2401  Tms-du_vs_Tms-pr  96.078089
4       Tdub_V1_scaffold_9538_52501  Tms-du_vs_Tms-pr  69.836150
...                             ...               ...        ...
4446    Tdub_V1_scaffold_2232_18001  Tms-du_vs_Tms-pr -39.247151
4447  Tdub_V1_scaffold_11900_100201  Tms-du_vs_Tms-pr  38.853732
4448    Tdub_V1_scaffold_9765_78001  Tms-du_vs_Tms-pr  57.690396
4449     Tdub_V1_scaffold_200_33601  Tms-du_vs_Tms-pr  43.635332
4450   Tdub_V1_scaffold_12142_31201  Tms-du_vs_Tms-pr  35.187180

[4451 rows x 3 columns]

In [27]:
concat = pd.concat([InFile1_subset_1, InFile1_subset_2], axis = 0)

In [28]:
concat

                            chr_pos        comparison       diff
0       Tdub_V1_scaffold_6978_23401        Tdu_vs_Tpr  99.040767
1        Tdub_V1_scaffold_12154_601        Tdu_vs_Tpr  98.930481
2      Tdub_V1_scaffold_10131_15901        Tdu_vs_Tpr  98.697068
3        Tdub_V1_scaffold_1521_2401        Tdu_vs_Tpr  98.688525
4       Tdub_V1_scaffold_9538_52501        Tdu_vs_Tpr  98.583569
...                             ...               ...        ...
4446    Tdub_V1_scaffold_2232_18001  Tms-du_vs_Tms-pr -39.247151
4447  Tdub_V1_scaffold_11900_100201  Tms-du_vs_Tms-pr  38.853732
4448    Tdub_V1_scaffold_9765_78001  Tms-du_vs_Tms-pr  57.690396
4449     Tdub_V1_scaffold_200_33601  Tms-du_vs_Tms-pr  43.635332
4450   Tdub_V1_scaffold_12142_31201  Tms-du_vs_Tms-pr  35.187180

[8902 rows x 3 columns]

In [29]:
concat.to_csv("/blue/soltis/shan158538/Methylation/OutPut/DMR_heatmap/Filtered_sorted_all_reformatted.txt", sep=Delimiter, header=True, index=False)