In [1]:
import sys,os,re
import pandas as pd
Delimiter = '\t'

In [2]:
InFileName1 = "/blue/soltis/shan158538/Methylation/OutPut/DMG_identification/CG/Unique_subgenomes_methylDiff_all.txt"

In [3]:
InFile1 = pd.read_csv(InFileName1, sep=Delimiter)

In [4]:
InFile1.head()

,Unnamed: 0,Scaffold,Start,End_x,Strand_x,P_x,Q_x,Direction_x,End_y,Strand_y,P_y,Q_y,Direction_y,_merge
0,3549,Tdub_V1_scaffold_10,404401,NaN,NaN,NaN,NaN,NaN,404700.0,*,0.0,0.000000e+00,36.137255,right_only
1,3550,Tdub_V1_scaffold_10,471601,NaN,NaN,NaN,NaN,NaN,471900.0,*,0.0,0.000000e+00,-65.259926,right_only
2,3551,Tdub_V1_scaffold_10,471901,NaN,NaN,NaN,NaN,NaN,472200.0,*,0.0,0.000000e+00,-51.932773,right_only
3,3552,Tdub_V1_scaffold_10,618601,NaN,NaN,NaN,NaN,NaN,618900.0,*,0.0,4.000000e-16,37.597405,right_only
4,3553,Tdub_V1_scaffold_10006,19801,NaN,NaN,NaN,NaN,NaN,20100.0,*,0.0,0.000000e+00,-66.298343,right_only

In [5]:
InFile1_pos = InFile1[InFile1['Direction_y'] > 0]
InFile1_pos.to_csv("/blue/soltis/shan158538/Methylation/OutPut/DMG_identification/CG/Unique_subgenomes_methylDiff_pos.txt", sep=Delimiter, header=True, index=False)

In [6]:
InFile1_neg = InFile1[InFile1['Direction_y'] < 0]
InFile1_neg.to_csv("/blue/soltis/shan158538/Methylation/OutPut/DMG_identification/CG/Unique_subgenomes_methylDiff_neg.txt", sep=Delimiter, header=True, index=False)

In [9]:
InFileName2 = "/blue/soltis/shan158538/Methylation/OutPut/DMG_identification/CG/Unique_parents_methylDiff_all.txt"
InFile2 = pd.read_csv(InFileName2, sep=Delimiter)

In [11]:
InFile2_pos = InFile2[InFile2['Direction_x'] > 0]
InFile2_pos.to_csv("/blue/soltis/shan158538/Methylation/OutPut/DMG_identification/CG/Unique_parents_methylDiff_pos.txt", sep=Delimiter, header=True, index=False)

In [12]:
InFile2_neg = InFile2[InFile2['Direction_x'] < 0]
InFile2_neg.to_csv("/blue/soltis/shan158538/Methylation/OutPut/DMG_identification/CG/Unique_parents_methylDiff_neg.txt", sep=Delimiter, header=True, index=False)

In [14]:
InFileName3 = "/blue/soltis/shan158538/Methylation/OutPut/DMG_identification/CG/Overlap_same_direction_parents_methylDiff_all_subgenomes_methylDiff_all.txt"
InFile3 = pd.read_csv(InFileName3, sep=Delimiter)

In [15]:
InFile3_pos = InFile3[InFile3['Direction_x'] > 0]
InFile3_pos.to_csv("/blue/soltis/shan158538/Methylation/OutPut/DMG_identification/CG/Overlap_same_direction_parents_methylDiff_pos_subgenomes_methylDiff_pos.txt", sep=Delimiter, header=True, index=False)

In [16]:
InFile3_neg = InFile3[InFile3['Direction_x'] < 0]
InFile3_neg.to_csv("/blue/soltis/shan158538/Methylation/OutPut/DMG_identification/CG/Overlap_same_direction_parents_methylDiff_neg_subgenomes_methylDiff_neg.txt", sep=Delimiter, header=True, index=False)