## Below is the output of the metaplot

In [1]:
[shan158538@login1 DES1_test1]$ cat DES1_CHG_TE_test1_gbm_metaplot.tsv
#from_script: gbm_metaplot_pe.py; numBins: 20; numBinsStream: 20; streamSize: 1000; methTypes: CHG
sample	bin	methType	mCount	tCount	value
DES1	0	CHG	0	3	0.000000
DES1	1	CHG	0	9	0.000000
DES1	2	CHG	0	18	0.000000
DES1	3	CHG	0	13	0.000000
DES1	4	CHG	0	14	0.000000
DES1	5	CHG	0	7	0.000000
DES1	6	CHG	0	21	0.000000
DES1	7	CHG	0	18	0.000000
DES1	8	CHG	13	20	0.650000
DES1	9	CHG	8	25	0.320000
DES1	10	CHG	31	54	0.574074
DES1	11	CHG	0	22	0.000000
DES1	12	CHG	23	35	0.657143
DES1	13	CHG	27	39	0.692308
DES1	14	CHG	0	18	0.000000
DES1	15	CHG	30	50	0.600000
DES1	16	CHG	0	0	0.000000
DES1	17	CHG	0	0	0.000000
DES1	18	CHG	0	0	0.000000
DES1	19	CHG	0	0	0.000000
DES1	20	CHG	33	45	0.733333
DES1	21	CHG	61	92	0.663043
DES1	22	CHG	70	77	0.909091
DES1	23	CHG	95	115	0.826087
DES1	24	CHG	9	22	0.409091
DES1	25	CHG	16	17	0.941176
DES1	26	CHG	0	4	0.000000
DES1	27	CHG	0	0	0.000000
DES1	28	CHG	0	0	0.000000
DES1	29	CHG	24	25	0.960000
DES1	30	CHG	41	52	0.788462
DES1	31	CHG	64	70	0.914286
DES1	32	CHG	22	23	0.956522
DES1	33	CHG	0	0	0.000000
DES1	34	CHG	0	0	0.000000
DES1	35	CHG	0	0	0.000000
DES1	36	CHG	0	0	0.000000
DES1	37	CHG	30	35	0.857143
DES1	38	CHG	101	111	0.909910
DES1	39	CHG	84	117	0.717949
DES1	40	CHG	248	282	0.879433
DES1	41	CHG	214	237	0.902954
DES1	42	CHG	153	196	0.780612
DES1	43	CHG	56	58	0.965517
DES1	44	CHG	0	0	0.000000
DES1	45	CHG	0	0	0.000000

SyntaxError: invalid syntax. Perhaps you forgot a comma? (1450280656.py, line 1)

## Below is the testing process

In [2]:
import sys,os,re
import pandas as pd

InFileName1 = "/orange/soltis/shan158538/Methylation_output/feature_methylation/gene_CHG_shared/DES1_test1/allc_DES1_8066.tsv"
InFileName2 = "/orange/soltis/shan158538/Methylation_output/feature_methylation/gene_CHG_shared/DES1_test1/allc_DES1_928.tsv"
Delimiter = '\t'
InFile1 = pd.read_csv(InFileName1, sep=Delimiter, header=None, names=['chr', 'pos', 'strand', 'context', 'mc', 'cov', 'methylated'])
InFile2 = pd.read_csv(InFileName2, sep=Delimiter, header=None, names=['chr', 'pos', 'strand', 'context', 'mc', 'cov', 'methylated'])

In [5]:
# Bin 11 of file 1
InFile1[(InFile1['pos'] > 4157) & (InFile1['pos'] < 4207)]

                      chr   pos  strand context  mc  cov  methylated
35  Tdub_V1_scaffold_8066  4174     NaN     CHG  12   18         NaN
36  Tdub_V1_scaffold_8066  4203     NaN     CHG  19   20         NaN

In [4]:
# Bin 11 of file 2
InFile2[(InFile2['pos'] > 7427) & (InFile2['pos'] < 7477)]

                     chr   pos  strand context  mc  cov  methylated
74  Tdub_V1_scaffold_928  7428     NaN     CHG   0    6         NaN
75  Tdub_V1_scaffold_928  7435     NaN     CHG   0    4         NaN
76  Tdub_V1_scaffold_928  7444     NaN     CHG   0    6         NaN

In [8]:
# Bin 26 of file 1; adjusted on CDS
InFile1[(InFile1['pos'] > 5243) & (InFile1['pos'] < 5360)]

                      chr   pos  strand context  mc  cov  methylated
48  Tdub_V1_scaffold_8066  5302     NaN     CHG   6    6         NaN
49  Tdub_V1_scaffold_8066  5323     NaN     CHG  10   11         NaN

In [9]:
# Bin 26 of file 2; adjusted on CDS
InFile2[(InFile2['pos'] > 8103) & (InFile2['pos'] < 8138)]

Empty DataFrame
Columns: [chr, pos, strand, context, mc, cov, methylated]
Index: []

In [10]:
# Bin 44 of file 1
InFile1[(InFile1['pos'] > 7142) & (InFile1['pos'] < 7492)]

                      chr   pos  strand context  mc  cov  methylated
95  Tdub_V1_scaffold_8066  7143     NaN     CHG  29   30         NaN

In [11]:
# Bin 44 of file 2
InFile2[(InFile2['pos'] > 8780) & (InFile2['pos'] < 8830)]

                      chr   pos  strand context  mc  cov  methylated
115  Tdub_V1_scaffold_928  8799     NaN     CHG   3    3         NaN
116  Tdub_V1_scaffold_928  8801     NaN     CHG  24   25         NaN